@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-listcontrol sc-SitecoreJobs";
    rendering.Requires.Script("client", "Inbox.js");


    rendering.GetString("InboxParam", "InboxParam");
    var htmlAttributes = rendering.HtmlAttributes;
}
<script src="~/Sitecore/shell/client/Your Apps/TrelloInbox/Helper.js"></script>
<div @htmlAttributes>

    <br />

    <div>
        <table class="sc-table sc-table-header table">
            <thead>
                <tr>
                    <th class="sc-table-head sortable" style="cursor: pointer; display:none" data-fieldname="Id" data-fieldsortorder="ASC">Card ID</th>
                    <th class="sc-table-head sortable" style="cursor: pointer;" data-fieldname="name" data-fieldsortorder="ASC">Card Name</th>
                    <th class="sc-table-head sortable" style="cursor: pointer;" data-fieldname="description" data-fieldsortorder="ASC">Description</th>
                    <th class="sc-table-head sortable" style="cursor: pointer;" data-fieldname="updateddate" data-fieldsortorder="ASC">Updated DateTime</th>
                    <th class="sc-table-head sortable">Card URL</th>
                    <th class="sc-table-head sortable">Set As Done</th>
                </tr>
            </thead>
        </table>
        <div class="sc-listcontrol-body">
            <table class="sc-table table">
                <tbody data-bind="foreach: InboxParam">
                    <tr data-bind="attr: { title: Desc }">
                        <td class="ventilate" style="display:none">
                            <span data-bind="text: ID"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text: Name"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text: Desc"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text: Date"></span>
                        </td>
                        <td class="ventilate">
                            <a data-bind="attr: { href: URL }" target="_blank">Go To Trello</a>
                        </td>
                        <td class="ventilate">
                            <a data-bind="attr: {cardId:ID}" style="cursor: pointer;" class="setasdone" onclick="SetAsDone()">Set As Done</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
        </div>
    </div>
